<div layout-gt-md="row">
	<panel-widget flex title="Sensor Values" template="app/views/partials/sensorValues.html" class="small-height-widget"></panel-widget>
	<panel-widget flex title="Control Panel" template="app/views/partials/controlPanel.html" class="small-height-widget"></panel-widget>
	<panel-widget flex title="Power Panel" template="app/views/partials/power.html" class="small-height-widget"></panel-widget>
</div>

<div layout-gt-md="row">
	<panel-widget flex title="Live Feed" template="app/views/partials/feed.html" class="big-height-widget"></panel-widget>
	<panel-widget flex title="Charts" template="app/views/partials/charts.html" class="big-height-widget"></panel-widget>  
</div>
